<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户文件列表页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
</head>
<body>

<h2>
    欢迎：<span th:text="${username}"></span>
    <a th:href="@{/user/logout}">注销</a>
</h2>

<h3>上传文件</h3>
<form method="post" enctype="multipart/form-data" th:action="@{/file/upload}">
    <input type="file" name="file" required> <input type="submit" value="上传文件">
</form>

<table class="ui celled table">
    <thead>
    <tr>
        <th colspan="11">文件列表</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ID</td>

        <td>文件原始名称</td>
        <td>文件新的名称</td>

        <td>储存路径</td>
        <td>文件大小</td>
        <td>文件后缀</td>
        <td>文件类型</td>

        <td>下载次数</td>
        <td>上传时间</td>
        <td>是否图片</td>

        <td>操作</td>
    </tr>
    <tr th:each="file:${files}">
        <td th:text="${file.id}">1</td>
        <td th:text="${file.oldFilename}">demo.txt</td>
        <td th:text="${file.newFilename}">uuid.txt</td>
        <td th:text="${file.path}">/files</td>
        <td th:text="${file.size}">1024</td>
        <td th:text="${file.ext}">.txt</td>
        <td th:text="${file.type}">text/plain</td>
        <td th:text="${file.downCount}">11</td>
        <td th:text="${#dates.format(file.uploadTime,'yyyy-MM-dd-HH:mm:ss')}">2222-12-12</td>
        <td>
            <img th:if="${file.isImg}=='是'"
                 th:src="${#servletContext.contextPath}+${file.path}+'/'+${file.newFilename}"
                 style="width: 75px"/>
            <span th:if="${file.isImg}!='是'" th:text="${file.isImg}"/>
        </td>
        </td>
        <td>
            <a th:href="@{/file/delete(id=${file.id})}">删除</a>
            <a th:href="@{/file/download(id=${file.id},openStyle='attachment')}">下载</a>
            <a target="_blank" th:href="@{/file/download(id=${file.id},openStyle='inline')}" href="">在线打开</a>
        </td>
    </tr>
    </tbody>
</table>
<hr>

</body>
</html>